.messages-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 310px);
}

.channel-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #292C30;
  height: 51px;
  background-color: #36393f;
  padding: 0 8px 0 12px;
  svg {
    color: #8a8e94;
    margin-right: 3px;
  }
  h1 {
    color: #fff;    
    font-size: 18px;
    font-weight: 600;
  }
}

.messages-main {
  display: flex;
  height: 100%;
}

.messages-inner {
  background-color: #36393f;
  display: flex;
  flex-direction: column;
  width: calc(100% - 240px);
  height: 100%;
}

.messages-index {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: scroll;
  margin-bottom: -1px;
}

.message-form-wrapper {
  padding: 0 20px;
}

.messages-form {
  display: flex;
  border-top: 1px solid #42454A;
  padding: 20px 0px 30px;

  input[type=text] {
    width: 100%;
    border-radius: 3px;
    color: hsla(0,0%,100%,.7);
    padding: 10px;
    font-size: 14px;
    height: 20px;
    outline: 0;
    background-color: rgba(114,118,125,.3);
    border: none;
  }
  input[type=text]::placeholder {
    font-weight: 500;
  }
}

.message-item {
  width: max-content;
  padding: 20px 0px;
  width: calc(100% - 10px);
  position: relative;

  header {
    display: flex;
    align-items: flex-end;
    margin-left: 80px;
    h1 {
      color: #fff;
      font-weight: 500;
    }
    span {
      font-size: 12px;
      margin-left: 5px;
      color: rgba(255, 255, 255, 0.2);
    }
  }

  .message-divider {
    margin: 20px 20px -20px;
    border: none;
    border-bottom: 1px solid #3E4147;
  }

  .message-divider:last-of-type {
    border-bottom: none;
  }

  .message-group {
    margin-top: 8px;
    margin-left: 80px;
    font-size: 14px;
    line-height: 19px;
    color: #dcddde;
    list-style: none;
    li {
      word-wrap: break-word;
      margin-bottom: 5px;
    }
  }
}

.messages-index::-webkit-scrollbar {
  width: 14px;
  background-color: #2f3136;
  border-radius: 7px;
  border: 3px solid #36393f;
}

.messages-index::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid #36393f;
  border-radius: 7px;
	background-color: #1f2224;
}

.user-avatar {
  position: absolute;
  top: 20px;
  left: 20px;
  background-image: image_url("users/user_bg.png");
  background-size: 100%;
  border-radius: 50%;
  background-position: 50%;
  height: 40px;
  width: 40px;
}