.messages-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.channel-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #292c30;
  height: 49px;
  background-color: #36393f;
  padding: 0 8px 0 12px;
  svg {
    color: #8a8e94;
    margin-right: 3px;
  }
  h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }
}

.messages-main {
  display: flex;
  height: 100%;
}

.messages-inner {
  background-color: #36393f;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.messages-index {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: scroll;
  margin-bottom: -1px;
}

.message-form-wrapper {
  padding: 0 20px;
}

.messages-form {
  display: flex;
  border-top: 1px solid #42454a;
  padding: 20px 0px 30px;
  z-index: 3;

  input[type="text"] {
    width: 100%;
    border-radius: 3px;
    color: hsla(0, 0%, 100%, 0.7);
    padding: 10px;
    font-size: 14px;
    height: 20px;
    outline: 0;
    background-color: rgba(114, 118, 125, 0.3);
    border: none;
  }
  input[type="text"]::placeholder {
    font-weight: 500;
  }
}

.message-item {
  width: max-content;
  padding: 20px 0px;
  width: calc(100% - 10px);
  position: relative;

  .user-avatar-global {
    position: absolute;
    top: 20px;
    left: 20px;
    // background-image: image_url("users/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: 50%;
    height: 40px;
    width: 40px;
  }
  header {
    display: flex;
    align-items: flex-end;
    margin-left: 80px;
    h1 {
      color: #fff;
      font-weight: 500;
    }
    span {
      font-size: 12px;
      margin-left: 5px;
      color: rgba(255, 255, 255, 0.2);
    }
  }

  .message-divider {
    margin: 20px 20px -20px;
    border: none;
    border-bottom: 1px solid #3e4147;
  }

  .message-group {
    margin-top: 8px;
    margin-left: 80px;
    font-size: 14px;
    line-height: 19px;
    color: #dcddde;
    list-style: none;
    li {
      word-wrap: break-word;
      margin-bottom: 5px;
    }
  }
}

.messages-index::-webkit-scrollbar {
  width: 14px;
  background-color: #2f3136;
  border-radius: 7px;
  border: 3px solid #36393f;
}

.messages-index::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid #36393f;
  border-radius: 7px;
  background-color: #1f2224;
}

.invite-modal {
  position: absolute;
  width: 440px;
  top: 50%;
  left: 50%;
  margin-left: -220px;
  margin-top: -85.5px;

  div {
    border-radius: 5px;
    padding: 20px;
    background-color: #36393f;

    h1 {
      text-transform: uppercase;
      color: #f6f6f6;
      font-weight: 600;
      line-height: 20px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    h3 {
      color: #b9bbbe;
      font-size: 14px;
      margin-bottom: 12px;
    }
    .input-box {
      display: flex;
      align-items: center;
      background-color: #2b2e33;
      border: 1px solid rgba(0, 0, 0, 0.3);
      color: #f6f6f7;
      border-radius: 3px;
      font-size: 16px;
      padding: 0;
      transition: border-color 0.17s ease;

      input[type="text"] {
        background: transparent;
        border: none;
        font: inherit;
        color: inherit;
        height: 40px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
      }

      button {
        background-color: #7289da;
        color: #fff;
        height: 32px;
        margin-right: 4px;
        padding: 0 16px;
        width: 75px;
        border-radius: 3px;
        border: none;
        font-size: 14px;
        font-weight: 500;
        transition: background-color 0.17s ease;
      }

      button:hover {
        background-color: #677bc4;
      }

      .button-copied {
        background-color: #43b581;
      }
    }

    .input-box:hover {
      border-color: #040405;
    }

    .text-copied {
      border-color: #43b581;
    }

    .inputer-box:hover {
      border: 1px solid #040405;
    }
    h4 {
      color: #b9bbbe;
      font-size: 12px;
      margin-top: 8px;
    }
  }
}

.input-box input[type="text"]:focus .input-box {
  border-color: #7289da;
}

.links {
  color: rgb(0, 150, 207);
  &:hover {
    text-decoration: underline;
  }
}

.embed {
  display: flex;
  margin-bottom: 8px;
}

.embed-pill {
  background-color: rgb(255, 0, 0);
  border-radius: 3px 0 0 3px;
  width: 4px;
}

.embed-inner {
  display: flex;
  flex-direction: column;
  background-color: rgba(46, 48, 54, 0.3);
  border: 1px solid rgba(46, 48, 54, 0.6);
  border-radius: 0 3px 3px 0;
  padding: 8px 10px;
  span {
    color: #87909c;
    font-size: 12px;
    margin-bottom: 8px;
  }
}
