.channel-sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  background: #2f3136;
  flex-shrink: 0;
}

.server-header {
  display: flex;
  width: 240px;
  box-sizing: border-box;
  height: 55px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  border-bottom: 1px solid #232428;
  transition: background-color 0.15s ease;
}

.server-header:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.channel-list {
  color: #72767d;
  // overflow-y: scroll;
  padding-right: 8px;
  height: 100%;
  margin-top: -1px;
  padding-top: 28px;
}

.channel-list::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.channel-list::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #24272a;
  visibility: hidden;
}

.channel-list:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.category {
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 18px;
  padding-right: 8px;
  position: relative;
  transition: color 0.1s ease-in-out;
  justify-content: space-between;
  cursor: pointer;
}

.category a {
  display: flex;
  align-items: center;
  color: #72767d;
  position: relative;
}

.category a:hover {
  color: #b9bbbe;
}

.category a:hover .button-description {
  visibility: visible;
  opacity: 1;
}

.category:hover {
  color: #b9bbbe;
}

.down-arrow {
  transform: rotate3d(0, 0, -1, 0deg);
  position: absolute;
  left: 3px;
  top: 4px;
}

.category span {
  line-height: 20px;
  font-weight: 600;
}

.chat-channel {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 3px;
  margin: 1px 0 2px 8px;
  padding: 0 8px;
  color: #72767d;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  cursor: pointer;
  position: relative;
  .channel-name {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.chat-channel:hover {
  background-color: #36393f;
  font-weight: 500;
}

.chat-channel:hover .channel-name {
  color: #f6f6f7;
}

.chat-channel .chat-info {
  display: flex;
  align-items: center;
}

.chat-channel .chat-info svg {
  margin-right: 4px;
}

.force-overflow {
  min-height: 3000px;
}

.active-channel {
  font-weight: 500;
  background-color: rgba(79, 84, 92, 0.6);
  cursor: default;
}

.active-channel .channel-name {
  color: #f6f6f7;
}

.active-channel:hover {
  background-color: rgba(79, 84, 92, 0.6);
}

.channel-buttons {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  position: relative;
  width: 18px;
}

.channel-buttons:hover {
  color: #aeb0b2;
}

.channel-buttons:hover .button-description {
  visibility: visible;
}

.hidden-channel-buttons {
  visibility: hidden;
}

.chat-channel:hover .channel-buttons {
  visibility: visible;
  cursor: pointer;
}

.chat-channel .create-channel:hover {
  color: #aeb0b2;
}

.button-description {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  width: fit-content;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 8px 11px;
  background-color: #000;
  color: hsla(0, 0%, 100%, 0.9);
  text-transform: none;
  pointer-events: none;
  z-index: 2;
}

.button-description::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 0;
  height: 0;
  border-top: 5px solid #000;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.channel-modal {
  width: 440px;
  height: fit-content;
  position: absolute;
  margin-left: -220px;
  margin-top: -119px;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  background-color: #36393f;
  outline: none;
}

.create-channel {
  position: relative;
}

.create-channel:hover .button-description {
  visibility: visible;
}
