.member-list {
  width: 240px;
  flex-shrink: 0;
  height: 100%;
  background-color: #2f3136;
  // overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #24272a;
    visibility: hidden;
  }

  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  .members-category {
    padding: 20px 8px 0px 16px;
    color: hsla(0, 0%, 100%, 0.4);
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    letter-spacing: 0.08em;
    line-height: 20px;
    box-sizing: border-box;
  }
}

.member {
  display: flex;
  position: relative;
  align-items: center;
  padding: 8px;
  height: 40px;
  margin: 1px 0 1px 8px;
  color: #b9bbbe;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 8px;
  cursor: pointer;
  &:hover {
    background: #36393f;
    color: #fff;
  }
}

.member-username {
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
}

.admin-icon {
  display: flex;
  align-items: center;
  margin-left: 4px;
  svg {
    margin-top: 1px;
    height: 14px;
  }
}
