.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .85);
}

.move-to-left {
  transform: translateX(-100%);
}

#default-server-modal {
  direction: ltr;
  position: absolute;
  left: 0px;
  background: #fff;
  width: 536px;
  height: 420px;
  outline: none;
  padding: 34px 40px;
  border-radius: 5px;
  background-image: image_url("modal/background_1.png"), image_url("modal/background_2.png");
  background-position: 0 100%,100% 100%;
  background-repeat: no-repeat;
  background-size: 155px auto, 75px auto;
  box-sizing: border-box;
  transition: transform .25s ease;
}

#default-server-modal h1 {
  color: #7289da;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.server-actions {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.server-action {
  box-sizing: border-box;  
  background: rgba(255, 255, 255, .75);
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
  width: 220px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.server-actions div h2 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.server-action-create h2 {
  color: #7289da;
}

.server-action-join h2 {
  color: #3ca374;
}

.server-actions div p {
  color: #99aab5;
  font-size: 14px;
  line-height: 20px;;
  margin-top: 16px;
  padding: 0 15px;
  text-align: center;
}

.server-action-create-icon {
  background-image: image_url("modal/create_action_icon.png");
  background-size: 112px 78px;
  height: 78px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 26px auto;
}

.server-action-join-icon {
  background-image: image_url("modal/join_action_icon.png");
  background-size: 178.5px 78px;
  height: 78px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 26px auto;
}

.server-action-create button {
  background-color: #7289da;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 14px 20px;
  width: 100%;
  outline: 0;
  border: none;
  transition: background-color .2s ease;
  cursor: pointer;
}

.server-action-join button {
  background-color: #3ca374;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 14px 20px;
  width: 100%;
  outline: 0;
  border: none;
  transition: background-color .2s ease;
  cursor: pointer;
}

.server-action-join:hover button {
  background-color: #369268;
}

.server-action-create:hover button {
  background-color: #677BC4;
}

.or {
  background-image: image_url("modal/or.svg");
  background-repeat: no-repeat;
  background-size: 52px, 52px;
  background-position: 50%, 50%;
  position: absolute;
  width: 52px;
  height: 52px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 22px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: #99aab5;
}

.server-modal {
  position: absolute;
  right: 50%;
  top: 50%;
  margin-right: -268px;
  margin-top: -210px;
  height: 420px;
  width: 536px;
  direction: rtl;
  overflow: hidden;
}

#create-server-modal {
  direction: ltr;
  position: absolute;
  right: -536px;
  display: flex;
  background: #fff;
  width: 536px;
  height: 420px;
  outline: none;
  border-radius: 5px;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  transition: transform .25s ease;


  h2 {
    color: #7289da;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
  }

  h3 {
    color: #99aab5;
    padding: 10px 0;
    margin-bottom: 18px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 18px;
    text-align: center;
  }
}

.create-server-main {
  padding: 34px 40px 0px;
}

.server-name-form {
  width: 236px;

  label {
    color: #87909c;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
  }

  input {
    background: transparent;
    border-bottom-color: #f0f0f0;
    border-bottom-style: solid;
    border-width: 0 0 2px;
    color: #2f3136;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
    width: 100%;
    outline: none;
    padding: 10px 4px;
    transition: border-color .15s ease;
  }

  input::placeholder {
    color: #c5c5c5;
  }
  
  input:hover {
    border-color: #b9bbbe;
  }

  input:focus {
    border-color: #7289da;
  }
}

.create-server-menu {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  border-radius: 0 0 5px 5px;
  background-color: #f6f6f7;

  input[type=submit] {
    background-color: #7289da;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 16px;
    min-width: 96px;
    border: none;
    border-radius: 3px;
    height: 38px;
  }

  input[type=submit]:hover {
    background-color: #677bc4;
  }

  button {
    background: transparent;
    color: #99aab5;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    border: 2px solid transparent;
    align-items: center;
    padding: 0;
    img {
      width: 18px;
      margin-right: 10px;
    }
  }

  button:hover {
    border-bottom: 2px solid #949494;
  }
}

#join-server-modal {
  direction: ltr;
  position: absolute;
  right: -536px;
  background: #fff;
  width: 536px;
  height: 420px;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 250ms ease;

  .join-server-main {
    padding: 28px 40px 0px;
    h1 {
      color: #43b581;
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      line-height: 1.3;
      text-transform: uppercase;
    }
    p {
      color: #99aab5;
      padding: 10px 0;
      margin-top: 14px;
      margin-bottom: 14px;
      font-weight: 500;
      line-height: 1.2;
      font-size: 18px;
      text-align: center;
    }

    ul {
      list-style: none;
      li {
        color: #7289da;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        text-align: center;
        margin-bottom: 4px;
      }
    }
  }

  .join-server-input {
    margin-top: 40px;
    input[type=text] {
      background: transparent;
      border: none;
      border-bottom: 2px solid #f0f0f0;
      color: #2f3136;
      font-size: 16px;
      font-weight: 400;
      padding: 10px 4px;
      width: 100%;
      transition: border .15s ease;
    }
    input[type=text]:hover {
      border-color: #b9bbbe;
    }
    input[type=text]:focus {
      border-color: #7289da;
    }
    span {
      color: #99aab5;
      font-size: 11px;
    }
  }

  .join-server-menu {
    padding: 18px 40px;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    input[type=submit] {
      background-color: #3ca374;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      padding: 2px 16px;
      min-width: 96px;
      border: none;
      border-radius: 3px;
      height: 38px;
    }

    input[type=submit]:hover {
      background-color: #3ca374;
    }

    button {
      background: transparent;
      color: #99aab5;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      border: 2px solid transparent;
      align-items: center;
      padding: 0;
      img {
        width: 18px;
        margin-right: 10px;
      }
    }

    button:hover {
      border-bottom: 2px solid #949494;
    }
  }
}