.app-view-wrapper {
  height: 100%;
  overflow: hidden;
}

.server-sidebar {
  box-sizing: border-box;
  height: 100%;
  background-color: #202225;
  width: 70px;
  padding: 10px;
}

.home-link {
  display: block;
  background-color: #2f3136;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  outline: none;
}

.home-link:hover {
  background-color: rgb(114, 137, 218);
  border-radius: 15px;
}

.friends-online {
  color: #fff;
  opacity: .3;
  font-size: 10px;
  margin: 11px 0;
  text-align: center;
  text-transform: uppercase;
}

.server-separator {
  background: #2f3136;
  height: 2px;
  margin-bottom: 10px;
  width: 30px;
  margin: 11px auto;
}

.server-item {
  height: 50px;
  width: 50px;
  margin-top: 8px;
  position: relative;
  font-size: 18px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  outline: none;
  background-color: #2f3136;
  border-radius: 50%;
  transition: .25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.server-item:hover {
  border-radius: 15px;
  background-color: rgb(114, 137, 218);
}

.server-item:hover .server-name{
  visibility: visible;
}

.active-server {
  position: relative;
  border-radius: 15px;
  background-color: rgb(114, 137, 218);
}

.active-server::after {
  content: '';
  position: absolute;
  left: -15px;
  margin-top: -20px;
  top: 50%;
  background: #fff;
  border-radius: 20px;
  height: 40px;
  width: 10px;
}

.server-notifications {
  position: absolute;
  bottom: -2px;
  right: -2px;
  background: #f04747;
  color: #fff;
  border-radius: 3px;
  line-height: 12px;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 6px;
}

.server-add {
  margin-top: 8px;
  background: #202225;
  border-color: #535559;
  cursor: pointer;
  border-radius: 50%;
  border-style: dashed;
  border-width: 1px;
  font-size: 40px;
  font-weight: 300;
  height: 50px;
  line-height: 100%;
  text-align: center;
  transition: border-color .25s ease, color .25s ease, opacity .25s ease;
  width: 50px;
  color: #535559;
  outline: none;
}

.server-add:hover {
  opacity: .7;
  border-color: #fff;
  color: #fff;
}

.server-add > span {
  position: relative;
  top: -4px;
}

.logout-separator {
  margin: 10px auto;
  background-color: #4b4d4f;
  height: 2px;
  width: 30px;
}

.logout-button {
  cursor: pointer;
}

.logout-button > button {
  width: 50px;
  height: 50px;
  background-color:  hsla(0,0%,100%,.1);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, .3);
  position: relative;
  outline: none;
  cursor: inherit;
}

.logout-button > button > i {
  position: absolute;
  top: 9px;
  left: 7px;
  color: #f04747;
  font-size: 29px;
}

.logout-button > p {
  color: hsla(0,0%,100%,.3);
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 4px;
  font-weight: 500;
  transition: color .25s ease;
}

.logout-button:hover .logout-word {
  color: hsla(0,0%,100%,.6);
}

.server-name {
  visibility: hidden;
  position: absolute;
  top: 9px;
  left: 58px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 8px 11px;
  background-color: #000;
  color: hsla(0, 0%, 100%, .9)
}

.server-name::before {
  content: '';
  position: absolute;
  left: -5px;
  top: 11px;
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-right: 5px solid #000;
}