.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .85);
}

#server-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  margin-left: -230px;
  margin-top: -196px;
  width: 536px;
  height: 420px;
  outline: none;
  padding: 34px 40px;
  box-sizing: border-box;
  border-radius: 5px;
  background-image: image_url("modal/background_1.png"), image_url("modal/background_2.png");
  background-position: 0 100%,100% 100%;
  background-repeat: no-repeat;
  background-size: 155px auto, 75px auto;
  box-sizing: border-box;
}

#server-modal h1 {
  color: #7289da;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.server-actions {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.server-action {
  box-sizing: border-box;  
  background: rgba(255, 255, 255, .75);
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
  width: 220px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.server-actions div h2 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.server-action-create h2 {
  color: #7289da;
}

.server-action-join h2 {
  color: #3ca374;
}

.server-actions div p {
  color: #99aab5;
  font-size: 14px;
  line-height: 20px;;
  margin-top: 16px;
  padding: 0 15px;
  text-align: center;
}

.server-action-create-icon {
  background-image: image_url("modal/create_action_icon.png");
  background-size: 112px 78px;
  height: 78px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 26px auto;
}

.server-action-join-icon {
  background-image: image_url("modal/join_action_icon.png");
  background-size: 178.5px 78px;
  height: 78px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 26px auto;
}

.server-action-create button {
  background-color: #7289da;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 14px 20px;
  width: 100%;
  outline: 0;
  border: none;
  transition: background-color .2s ease;
}

.server-action-join button {
  background-color: #3ca374;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 14px 20px;
  width: 100%;
  outline: 0;
  border: none;
  transition: background-color .2s ease;
}

.server-action-join:hover button {
  background-color: #369268;
}

.server-action-create:hover button {
  background-color: #677BC4;
}

.or {
  background-image: image_url("modal/or.svg");
  background-repeat: no-repeat;
  background-size: 52px, 52px;
  background-position: 50%, 50%;
  position: absolute;
  width: 52px;
  height: 52px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 22px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: #99aab5;
}

.server-modal-appear {
  transform: scale(0);
  opacity: 0;
}

.server-modal-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity .125s, transform .125s;
}

.server-modal-leave-active {
  transform: scale(0);
  transition: transform .125s;
}

#create-server-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  margin-left: -230px;
  margin-top: -196px;
  width: 536px;
  height: 420px;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    color: #7289da;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
  }

  h3 {
    color: #99aab5;
    padding: 10px 0;
    margin-bottom: 18px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 18px;
    text-align: center;
  }
}

.create-server-main {
  padding: 34px 40px 0px;
}

.server-name-form {
  height: 218px;
  width: 236px;

  label {
    color: #87909c;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
  }

  input {
    background: transparent;
    border-bottom-color: #f0f0f0;
    border-bottom-style: solid;
    border-width: 0 0 2px;
    color: #2f3136;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
    width: 100%;
    outline: none;
    padding: 10px 4px;
    transition: border-color .15s ease;
  }

  input::placeholder {
    color: #c5c5c5;
  }
  
  input:hover {
    border-color: #b9bbbe;
  }

  input:focus {
    border-color: #7289da;
  }
}

.create-server-menu {
  padding: 18px 40px;
  border-radius: 0 0 5px 5px;

  input[type=submit] {
    background-color: #7289da;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 16px;
    background: none;
    border: none;
    border-radius: 3px;
        height: 38px;
  }
}